.post-listing{

	margin:35px;
 	padding:15px;


}

.article-content{

	text-align: justified;
 	height:500em;
	overflow:ellipsis;


}

.article-title{
	font-family:trashbox;
	text-align:center;
}

.article-date{

	font-family:myway;
	text-align:center;
  font-size: .95em;
  font-style: italic;

}

.article-list-item{
	list-style-position:inside;
	margin: 5px;

}

.code{
	font-style: oblique;


}
