<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-sm-12 col-xs-12">
			<img class="author-pic" align="middle" src="/img/profile/{{post.author}}.jpg" alt="Sorry, I'm looking beat today!">
			<!--<img class="article-pic margin-top-300" width="250px" height="300px" align="middle" src="/img/xkcdgitremember.png" alt="Very funny git comic">-->
			<span class="article-pic margin-top-300">Don't like the format here? Read it on <h3><a href="https://medium.com/@kylecalicast/bitsofbitcoin-77f3f3ff437e">Medium!</a></h3></span>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8 col-sm-12 col-xs-12">
			<span class="post-title">	<h2> {{post.title}} </h2> </span>
			<span class="post-date"><p><i>{{post.date}}</i></p></span>
			<span class="post-author"><p><i>{{post.author}}</i></p></span>
			<span class="post-content">
			<p>I want to give a brief overview what Bitcoin is.  Here’s some quick answers to some of the most common questions in the Bitcoin sphere:
			<h3><i>“Bitcoin is fake money”</i></h3>
			<p>This one cracks me up everytime I’m in a bitcoin debate. The person who states this either didn’t do their research or just didn’t understand what they were reading.
Bitcoin is not just anotherGIF, JPEG, Tweet or simple file that can be altered at will. No one creates a bitcoin out of thin air by going to some website.</p>
<p>Simply put, Bitcoin is a public ledger of transactions authenticated and secured using cryptographic math. Wow, that’s a mouthful. </p>
<p>Okay let’s break it down.</p>
<p>A public ledger keeps track of all bitcoin transactions that happen. This ledger is not stored in one central place like it is at a brick and mortar bank. Instead, it’s distributed between everyone on the system. This is what makes Bitcoin decentralized and not controlled by asingle entity. This public ledger is called the Blockchain.</p>
<p>Now suppose you want to pay someone in Bitcoion (BTC) for something. Well that transaction would be recorded on the Blockchain. In fact, all your transactions are recorded publicly on the Blockchain.</p>
<p>Once recorded, it will be grouped with a bunch of other transactions into what they call a block. Every transaction will then go through the process of verifying each of the other transactions.</p>
<p>It will check to make sure that you’ve had enough transactions to equal the amount you want to spend. If you do then it’ll mark verified.</p>
<p> Once every transaction is verified it will push that block into the chain.</p>
<p>Whoa! Did you catch it? Not a single coin is mentioned in the whole process. There are no coins! Only recorded and verified transactions!</p>
<p>Now you might ask what keeps people from faking a transaction, or does everything have to be public? Don’t worry, your public information is not just floating out there explicitly. Everything is secured and pseudo-anonymous using...ta-da! Math! Yes, advanced cryptography is how your transaction is stored. To put it simply, you're given a cryptographic key, which your transactions are tied to (you can have more than one key). When verifying the Blockchain the miners(computers), have to do actual math and then agree with other miners in the system(decentralized) that this transaction is correct and can be placed in the Blockchain. The system needs 51% consensus from all miners in the world that this block is correct.</p>
<p>So now you see there’s no actual coin or even any programmable version of some coin. There’s no singleapp, single company or single person who controls bitcoin.  Just simply the Blockchain, transactions and math!</p>
			<h3><i>“How can I afford Bitcoin?”</i></h3>
			<p>I heard this one every ten minutes when BTC broke $10,000 on November 28. But this one is simple and easy. Just like you can own half a dollar, you can own half a BTC. You can own any fraction of a bitcoin even by starting with one US dollar or less. The fractions of bitcoin you can own are called satoshis; named after the mysterious pseudonym for the bitcoin creator.</p>
			<h3><i>“Where do I get Bitcoin?”</i></h3>
			<p>Bitcoin is a currency just like the US Dollar, Yen, Forint, Peso, etc. To be able to own bitcoin, you need to exchange it. </p>
			<p>You can exchange it at cryptocurrency markets called, well you could have guessed it, exchanges. Usually they are in the form of web apps, but there are places where you can exchange cash for BTC. Although that may be overly time-consuming for the majority of the audience here. </p>
			<p>The most popular exchange brokers are Coinbase and … These exchange brokers help lock down the price for you. But there are other exchange platforms that really allow you to barter, more like actual markets.</p>
			<p>Now these exchanges are markets. If you're slow to catch on like me then let me lay it out. A Bitcoin market is just like the stock market exchange. You can do everything you can do like stocks, put limit orders, stop orders, etc. </p>
			<p>Below I have my link for <a href="https://www.coinbase.com/join/56423f7bd26ede77880001a3">Coinbase</a>, if you're going to start buying BTC, use my link! Helps me pay for my website.  :) </p>
			<p>https://www.coinbase.com/join/56423f7bd26ede77880001a3</p>
			<h3><i>“Where do I store my BTC?”</i></h3>
			<p>Bitcoins are stored in wallets. A wallet is your private key(s) that is able to generate payment or recipient addresses. These keys should remain secret and secure!Bitcoins are stored in wallets. A wallet is your private key(s) that is able to generate payment or recipient addresses. These keys should remain secret and secure! </p>
			<p>There are different ways to secure your keys/wallet.</p>
			<p>When you buy from an exchange broker, like Coinbase, your cryptocurrency gets stored.  But they won’t share your private keys with you. If you are brand new and do not plan on storing a ton of money on the exchange then this should be fine for now. As you get more involved and have a higher stake, you definitely want to take control of your own keys.</p>
			<p>There are both software wallets and hardware wallets Software wallets are just normal desktop applications to store your keys on your laptop. Storing your keys in this method leaves you highly susceptible to being hacked and losing everything. I don’t actually store many keys on my own laptop for this reason and I studied computer security quite a bit! </p>
			<p>Hardware wallets are like USB flash drives built like Fort Knox to keep people from hacking them. Though these take awhile to set up, this is what I recommend for most people. Something like the Ledger Nano S, which is what I have, offers a good amount of security. If you plan on keeping your coins for long term investment then this is definitely the way to go in my own opinion. </p>
			<p>Another way to store your keys, is by printing them out on paper using Bitcoin Wallet’s Paper Wallet. These will print your private keys. Just be sure to lock them up and away from viewing eyes!</p>
			<h3><i>“Should I sell or buy more?”</i></h3>
			<p>This is up to you. Bitcoin is on the surge and many people believe a correction is bound to happen. This means a dip, a point where Bitcoin drops in price. Just like with all financial assets always try to buy low and sell high. The problem here is that no one knows when Bitcoin will dip again and to what extent. At the beginning of this year, Bitcoin was at $1000 and people kept waiting to buy in at an anticipated dip that never happened. </p>
			<p>My advice is to just buy in if you intend on investing long term since long term growth will likely lead to a valuation significantly higher than it is today.When I bought in again when the value was at $6000, many people thought I was crazy. Now with Bitcoin between $10000 and $11000 and I have no regrets - even if it were to dip to $1000 tomorrow. </p>
			<h3><i>“What are altcoins?”</i></h3>
			<p>At this point I believe a good majority of you interested in investing have gone with Coinbase-hopefully using my link!- or some other exchange broker to purchase Bitcoins. But if you're a diligent reader like me then I have some more info!</p>
			<br /><br />
			<i><p>Thanks for reading! I'll be continuing this series as I find time to type out my experiences with cryptocurrencies so stay tune!</p></i>
			<i><p>If you have any questions or comments or maybe a correction for this article please comment below!</p></i>
			<i><p> You can always reach me on my <b><a href="https://www.facebook.com/groups/cryptorising/">Crypto Rising Facebook group</a></b></p></i>
			</span>

			</div>
	</div>

	<div disqus="10"></div>

</div>
