<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
			<span class="post-title">	<h2> Code Is Dead </h2> </span>
			<span class="post-date"><p><i>May 9th 2016</i></p></span>
			<span class="post-content">
					<p> In 1997, the band Crass infamously stated that "Punk is Dead". </p>
					<p> But what does "Punk is Dead" mean? The phrase refers to the underground rebel and outsiders scene
						  that defined punk was going mainstream and selling out. By the 1990's this certainly has been the case where punk bands
							started popping up on MTV and VH1; malls full of young adolscents in Hot Topic trying to sport the latest
							punk trends ( I was one of them! ).
					</p>
					<p> We can apply this definition of dead, the movement form an underground outsider scene to profit making mainstream
						, to most movements. At a goto; conference video I was watching on Youtube, one of the founders of the Agile software methodology,
						Dave Thomas declared that Agile is dead.  For those who don't know, Agile is a software development methodology to quickly produce flexible software
						products. On Feburary 1991 in Utah, 17 software developers came together and wrote the Agile Manifesto. As Dave points out, Agile took a sick turn.
						After awhile agile wasn't so agile anymore. It became a strict methodoology where companies began to pop up and offer expensive training classes to companies
						and developers. Thus leaving David to declaring Agile dead. </p>
					<p>
							We can take the definition applied to Agile and push it even further. As a student at a university I was invited and went to multiple hackathons.
							Every hackathon is full of students competing to code a project under a set amount of time and win prizes or the like.
							All these hackathons have large spnosors such as Microsoft, LinkedIn, NFL, etc. Each with their own prize for using their technology.
							Another trend is coding bootcamps.
							Contrast these recent trends with the old computer science nerd scene then I think it is safe to say where I am going with this.
							Code is dead.
					</p>
					<p>
							In my next post, I talk about how to navigate the world of the dead.
					</p>
			</span>
				<div id="disqus_thread"></div>
					<script>
					/**
					* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
					* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
					*/

					var disqus_config = function () {
						this.page.url = "http://codeisdead.com/#!/post/codeisdead"; // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = "codeisdead";
					};

					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');

					s.src = '//codeisdead.disqus.com/embed.js';

					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			</div>
	</div>


</div>
