<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-sm-12 col-xs-12">
			<img class="author-pic" align="middle" src="/img/profile/{{post.author}}.jpg" alt="Sorry, I'm looking beat today!">
			<!--<img class="article-pic margin-top-300" width="250px" height="300px" align="middle" src="/img/xkcdgitremember.png" alt="Very funny git comic">-->
			<span class="article-pic margin-top-300">Don't like the format here? Read it on <h3><a href="https://medium.com/@kylecalicast/gettingsomecoin-924d653f9f92">Medium!</a></h3></span>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8 col-sm-12 col-xs-12">
			<span class="post-title">	<h2> {{post.title}} </h2> </span>
			<span class="post-date"><p><i>{{post.date}}</i></p></span>
			<span class="post-author"><p><i>{{post.author}}</i></p></span>
			<span class="post-content">
      <p>The increasing popularity of Bitcoin and other cryptocurrencies has prompted countless people to ask me every day how and where they can get Bitcoin and other cryptocurrencies; so let me show you the simplest way to trade and obtain cryptocurrencies.</p>
      <p>First of all, similar to visiting a foreign country, you have to exchange your native homeland’s currency for this digital currency. Welcome to Internet Country! You can do this at exchanges. Coinbase is one of the most simple, user-friendly exchanges.</p>
      <h2>1. Buy On Coinbase</h2>
      <p>If you are familiar with the stock market then Coinbase is the equivalent of the Robinhood app for the crypto world, in such that it locks down the price for you. Coinbase is built to make it easy for the masses to get into the crypto market. A fitting analogy would be to picture a Coinbase like an airport currency exchange; simply walk up and trade your currency for another — for a fee of course.</p>
      <p>First, you start a Coinbase account. It might take awhile to get verified and add your bank. Alternatively, you can add a credit card for a speedier and more expensive set up. Then you purchase Bitcoin, Ethereum or Litecoin. Coinbase makes it extremely easy.</p>
      <p>While Coinbase may be the equivalent of the Robinhood app or an airport kiosk in terms of convenience, there are other, more advanced exchanges that are similar to E-trade or Scott Trade.</p>
      <h2>2. Send To Bittrex</h2>
      <p>In this case, you open a Bittrex account and get verified.</p>
      <p>Don’t worry about linking your bank account or credit card. Like most exchanges, Bittrex won’t hold or take any USD or fiat currency. This is why you have to use Coinbase to buy BTC, ETH or LTC and then use those coins to purchase other coins.</p>
      <p>Once you’re all verified go to your wallets section, click the plus sign by BTC to deposit BTC.</p>
      <p>A long random string of numbers and letters will populate a tiny box. The wallet address will be generated. Copy the address.</p>
      <img src="https://i.imgur.com/IgwjNCIl.png" alt="Bittrex deposit" />
      <p>Now go to Coinbase, go to your BTC account, paste in the address, and click send. Be sure the address is correct and that you’re using the proper form!</p>
      <img src="https://imgur.com/IgwjNCIl.png" alt="coinbase sending" />
      <h2>3. Buy and Sell Orders using Bitcoin(BTC)</h2>
      <p>The other exchanges may seem a bit more complicated, but trust me when I say they are just as simple. Embarrassingly, I didn’t understand markets and exchanges prior to cryptocurrencies. If you don’t understand what similarities I am referring to then you probably haven’t ventured out too far and tried glancing at Scott Trade or E-Trade to buy and sell stocks.</p>
      <p>To put it simply, there are Buy Orders and there are Sell Orders. These are what run a market. Now in the Stock Market world, you have all these other types of contracts like options, derivatives, etc. But we are going to ignore this for now.</p>
      <p>Let’s look at a screenshot of buying or selling some stocks from an online broker. As you can see, there are options to buy : the ticker symbol/stock code, the quantity, the order type, the price and expiry.</p>
      <img src="https://imgur.com/Q6RWxyll.png" alt="cmc market buy order" />
      <p> Now let’s look at the Buy Order form on Bittrex for Ripple(XRP).</p>
      <img src="https://imgur.com/zS6uDB8l.png" alt="xrp buy order" />
      <p>We see something similar here. We can express the quantity of XRP.</p>
      <p>We see the Price drop down selection. There are three choices of price: Last, Ask, Bid.</p>
      <p>Then there is the type of order and the total amount of the order.</p>
      <p> The Last price refers to the last price XRP was purchased at. The Asking price is the price the sellers are asking for their XRP. And the Bid price is the price the buyers are offering for XRP.</p>
      <p>There are strategies for knowing when to ask for which price but that’s reserved for an entirely different post. If you don’t know a specific strategy, then just select Last price. This is what Coinbase does — locks in the last price paid for Bitcoin.</p>
      <p>As you can see both exchanges are not too different from each other. What makes a market move is straightforward. Someone makes a Buy Order and someone else places a Sell Order. If matching buy and sell orders have not happened yet, then you’re simply waiting until it does get completed or fulfilled. This is the basis of all markets. The supply and demand being viewed as buy orders and sell orders, respectively. Once two or more corresponding orders match, then both or more orders are completed!</p>
      <img src="https://i.imgur.com/HrzmUy7l.gifv" alt="buy and sell markets" />
      <br /><br /><br />
			<i><p>Thanks for reading! I'll be continuing this series as I find time to type out my experiences with cryptocurrencies so stay tune!</p></i>
      <i><p> Or if your ready to take the dive into cryptos use my Coinbase link <a href="https://www.coinbase.com/join/56423f7bd26ede77880001a3">here</a></i>!
      <i><p>If you have any questions or comments or maybe a correction for this article please comment below!</p></i>
			<i><p> You can always reach me on my <b><a href="https://www.facebook.com/groups/cryptorising/">Crypto Rising Facebook group</a></b></p></i>
			</span>

			</div>
	</div>

	<div disqus="11"></div>

</div>
