<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<img class="author-pic" align="middle" src="/img/profile/{{post.author}}.jpg" alt="Sorry, I'm looking beat today!">
			<img class="article-pic margin-top-300" align="middle" src="/img/comic/xkcd-git-commands.jpg" alt="Very funny git comic">
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<span class="post-title">	<h2> {{post.title}} </h2> </span>
			<span class="post-date"><p><i>{{post.date}}</i></p></span>
			<span class="post-author"><p><i>{{post.author}}</i></p></span>
			<span class="post-content">

			</span>

				<p> </p>



			</div>



		</div>
	<div disqus="4"></div>
</div>
