<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="col-xs-6 margin-top-100">
				<img class="author-pic" align="middle" src="/img/profile/Phillip.jpg" alt="Sorry, I'm looking beat today!">
			</div>
			<div class="col-xs-6 margin-top-100">
				<img class="author-pic" align="middle" src="/img/profile/Kyle.jpg" alt="Sorry, I'm looking beat today!">
			</div>
		</div>
		<div class="col-md-8 col-sm-12 col-xs-12">
		<span class="post-title">	<h2> {{post.title}} </h2> </span>
    <span class="post-content">
			<p>If you're viewing this website you either know one of us, or we are doing great at public outreach.</p>

			<p>You are probably asking what this website is, why we started it, and how do you even follow along with what we are saying, right?</p>

			<p>This site is our personal blog.</p>

			<p>We are passionate about software development. Since I was a student I found myself repeating a lot of software development techniques and tools to my fellow classmates and co-workers. After watching a goto; conference lecture called “How to Scale Yourself”, I learned that if you repeat yourself enough times why not make documentation and share it.

			Also if you don’t agree with something we said then please comment. We are not afraid to make edits and we are not afraid of conflict. Conflict builds character. If you are just going to be hostile then there’s a red button in the top left corner you can click to leave. </p>

			<p>We live in an age of information where, with the right knowledge, you can build just about anything; change the world even. We are here to play a small role in that. If you have the inkling that that is something you may want as well then feel free to sift through our rambles and learn some basic tools that we wished we had known far sooner! </p>

		</span>

		</div>
	</div>
	<div disqus="1"></div>
</div>
