nav{

	margin-bottom:55px;

}

.navbar-brand{
	font-family:myway;
	img {
		color:white;
	}
}

.nav-link{
	font-family: trashbox;
	font-size: x-large;
	color: $white;

}
.navbar{

	background: $black;


}
