
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
			<span class="post-title">	<h2> Useful Videos And Links</h2> </span>
			<span class="post-content">
        <p> Here is a list of videos and links that have greatly shaped me as a developer and as a person. </p>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=FS1mnISoG7U"><p>Scale Yourself by Scott Hanselman</p></a></li>
					<p>This videos actually lead me to create a blog. It talks about how to set yourself up so you can do more.</p>
					<li><a href="https://www.fullstackpython.com/table-of-contents.html"><p>Full Stack Python</p></a></li>
					<p>This is an open online book about using python's Flask to build a full application. Even though I don't always use Flask this book made me understand certain concepts in frontend, backend, deployments and scaling of web applciations.</p>
					<li><a href="https://www.youtube.com/watch?v=bTGj4PeRPjs&list=PLUMGaqpiQNZMFzGmKZUhGk7k6F9rsPKdI"><p>Continous Delivry and Pipelines</p></a></li>
					<p> This video helped me understand the importance of build pipelines and the most current technology that the industry is moving towards to be able to build faster and more reliably. </p>
				</ul>
      </span>
  </div>
  </div>

  <div disqus="6"></div>

  </div>
