<div class="container">
  <div class="col-md-12">
      <div class="col-md-8">
	<h2> What Is This </h2>
		<p><a href="http://www.codeisdead.com/#!/post/helloworld">Read our 'Hello, World' post</a></p>
    <br>
	<h2> Who Are We </h2>
		<p> Kyle is a Computer Science graduate of UC Davis, and has been programming for a number of years. Experience in large companies, starts up, and his own entrepreneurship have given him insight into how software products are created and finished. He has much to learn and lots to share. </p>
    <p>Phillip Smith is a Marine Corps veteran currently studying Computer Science. His goal is to help build the future through the tech and information industry.</p>
    <br>
	<h2> How To Contact Us </h2>
		<p> Our linkedins can be reached by clicking on our pictures on the home screen </p>
      </div>
      <div class="col-md-4">
      </div>
  </div>

</div>
