<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<a href="https://www.linkedin.com/in/stcalica">
			 <a href="https://linkedin.com/in/stcalica" class="text-decoration:none;"><img class="pro-pic" align="middle" src="/img/profile/Kyle.jpg" alt="Sorry, I'm looking beat today!"></a>
				<span class="site-snip"><h2> Be  Different </h2></span>
			</a></div>


			<div class="col-md-4 col-xs-12">
				<span class="post-content">
						<p>Click on our pics to go to our linkedin to check out our experience in different areas.</p>
						<p>Check out our projects as well</p>
						<ul>
							<li><a href="http://fluff.link">Metafluff</a></li>
						</ul>
					</span>
						<div class="row empty-space"></div>
						<hr size=2>
			</div>

			<div class="col-md-4 col-xs-12">
			 <a href="https://www.linkedin.com/in/phillip-smith-40856186" class="text-decoration:none;">
				<img class="pro-pic" align="middle" src="/img/profile/Phillip.jpg" alt="Sorry, I'm looking beat today!"></a>
				<span class="site-snip"><h2> Be a Rebel </h2></span></div>
	</div>
</div>
