<div class="container">
  <div class="col-md-12">
    <div class="col-md-4 empty-space">
    </div>
    <div class="col-md-4 introduction">
      <div class="intro">
        <img class="pro-pic" align="middle" src="/img/profile/lollipop.jpg" alt="Sorry, I'm looking beat today!">
        <span class="site-snip"><h2> Be a Different </h2></span>
      </div>
      <div class="intro">
        <img class="pro-pic" align="middle" src="/img/profile/philprofile.jpg" alt="Sorry, I'm looking beat today!">
        <span class="site-snip"><h2> Be a Rebel </h2></span>
      </div>
    </div>
    <div class="col-md-2 emptyspace">
    </div>
    <div class="col-md-4 emptyspace">
      <div class="feed">
        <a class="twitter-timeline" href="https://twitter.com/StCalica" data-widget-id="728401079323353088" data-chrome="noscrollbar">
        </a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <p> Follow me on Instagram <a> @kycalica.exe </a> </p>
      <a href="https://www.instagram.com/kylica.exe/" data-iframely-url="//cdn.iframe.ly/GCLvg6" data-template="inline"></a><script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
      <div class="feed"></div>
    </div>
  </div>
