<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <h3> Revamped Website Coming Soon...</h3>
    </div>
    <div class="col-md-4 col-sm-12 col-sm-12">
      <div class="row">
          <div class="col-md-12 col-xs-12">
            <a href="https://www.linkedin.com/in/stcalica">
             <a href="https://linkedin.com/in/stcalica" class="text-decoration:none;"><img class="pro-pic" align="middle" src="/img/profile/Kyle.jpg" alt="Sorry, I'm looking beat today!"></a>
              <span class="site-snip"><h2> Be  Different </h2></span>
            </a></div>
          <div class="col-md-12 col-xs-12">
           <a href="https://www.linkedin.com/in/phillip-smith-40856186" class="text-decoration:none;">
            <img class="pro-pic" align="middle" src="/img/profile/Phillip.jpg" alt="Sorry, I'm looking beat today!"></a>
            <span class="site-snip"><h2> Be a Rebel </h2></span></div>
      </div>
  </div>
</div>
</div>
