<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
     <a class="twitter-timeline" href="https://twitter.com/crypto_kai?ref_src=twsrc%5Etfw">Tweets by crypto_kai</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4 col-sm-12 col-sm-12">
      <div class="row">
          <div class="col-md-12 col-xs-12">
            <a href="https://www.linkedin.com/in/stcalica">
             <a href="https://linkedin.com/in/stcalica" class="text-decoration:none;"><img class="pro-pic" align="middle" src="/img/profile/Kyle.jpg" alt="Sorry, I'm looking beat today!"></a>
              <span class="site-snip"><h2> Be  Different </h2></span>
            </a></div>
      </div>
  </div>
</div>
</div>
