<div class="container-fluid" data-ng-Controller="listingController as vm">
	<div class="row">
		<div class="col-md-8 col-xs-12 col-sm-12">
			<div class="post-listing" data-ng-repeat="post in vm.articles">
				<h3 class="article-title"><a data-ng-href="/#!/post/{{post.link}}"> {{ post.title  }} </a></h3>
				<div class="article-container">
					<div class="article-date"><span class="article-date">{{ post.date }}</span></div>
					<div class="article-description>"><span class="article-content"> {{ post.description }} </span></div>
				</div>
			</div>
		</div>
	</div>

</div>
