<div class="container">
  <div class="col-md-12">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/stcalica" data-format="inline"></script>
      </div>
  <!--
   <div class="col-md-4">
      <h3>Education </h3>
    </div>
    <div class="col-md-4">
      <h3> Employment Experience</h3>
    </div>
    <div class="col-md-4">
      <h3> Skills </h3>
    </div>
  -->
  </div>

</div>
